---
title: XAMPP howto guides
description: XAMPP is an easy to install Apache distribution containing MariaDB, PHP and Perl.
keywords: xampp, apache, php, perl, mysql, open source distribution
---
<div class="hero">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= xampp_platform_name %> <span><%= t('HOW-TO Guides')%></span></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= partial "howto_platform_links" %>
  </div>
</div>

