<ul class="<%= ['social', ('large' if large rescue nil)].compact.join(' ') %>">
  <li class="twitter"><%= link_to "Follow us on Twitter", "https://twitter.com/apachefriends" %></li>
  <li class="facebook"><%= link_to "Like us on Facebook", "https://www.facebook.com/we.are.xampp" %></li>
</ul>
