// colors
$body-bg: #333;
// $body-font-color: #222;
$body-font-color: #555;
$success-color: #5e8949;
$bitnami-blue: #2a5d84;
$dark-brand-blue: #1f3c52;
$xampp-orange: #fb7a24;
$dark-color-inverse: #888;
$light: #eee;
$light-gray: #f2f2f2;
$text-direction: ltr !default;
$anchor-font-color: $success-color;
$white: #fff;

// Avoid Open Sans font as it doesn't include all the language characters
$include-open-sans: false;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;