<h5><%= link_to_docs "Use a Different PHP Version", "use-different-php-version.html" %></h5>
<h5><%= link_to_docs "Obtain Read/Write Access to the Web Server Document Root Directory", "read-write-htdocs.html" %></h5>
