<h5><%= link_to_docs "Use a Different PHP Version", "use-different-php-version.html" %></h5>
<h5><%= link_to_docs "Run PHP under FastCGI", "use-php-fcgi.html" %></h5>
<h5><%= link_to_docs "Configure and Use Apache Tomcat", "configure-use-tomcat.html" %></h5>
